* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FDFD96;
    background-image: url(./media/backgorund.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#header {
    font-size: 36px;
}

#quote {
    padding-top: 2vh;
    font-size: 28px;
}

.container:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    /* place here CSS for when the screen is less than 1000px wide */
    #header {
        font-size: 24px;
    }
    
    #quote {
        padding-top: 2vh;
        font-size: 12px;
    }
  }